body {
    background-color: darkturquoise;
    text-align: center;
    font-size: 40px;
    font-family: serif;
    font-weight: 150;
}

li {
    display: inline;
    margin-right: 50px;
    color: black;
    font-family: fantasy;
}

#videos:hover {

    background: linear-gradient(DarkTurquoise, IndianRed, DarkTurquoise);
    color: white;
}


#contact:hover {

    background: linear-gradient(DarkTurquoise, IndianRed, DarkTurquoise);
    color: white;
}

#email:hover {
    color: black font-size: 200;
}

#top {
    font-size: 500;
    padding-top: 100;

}

#upup {
    background-color: chocolate;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}

#imageop {
    border-radius: 12px;
}
